.homepage1
{
    background-color: #FFE4C4;
}
a:link
{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration:none;
  }
  
a:active {
    text-decoration: none;
  }
  i{
	transition: 0.3s;

  }
  i:hover{
	transform: scale(1.2);
  }
.navbar a
{
   
    color:#59483C;
    margin-left: 60px;
    font-family: 'Bellota', sans-serif;
    font-size: 25px;
	margin-top: 34px;
	float: left;
}


#cococraft
{
    font-size: 45px;
    font-family: 'Berkshire Swash', serif;
    margin-left: 70px;
	margin-top: 20px;
}
#searchbar
{
    margin-left: 80px;
    border-radius: 25px;
    height: 40px;
    width: 260px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
	margin-top: 28px;
    
}
#searchicon{
float: none;
margin-left: 3px;


}

.navbar
{
    margin-top: 30px;
    margin-left: 90px;
    height: 100px;
    width: 90%;
    background-color: white;
    border-radius: 50px;
	overflow: hidden;
}

.dropdown {
    float: left;
    overflow: hidden;
	font-family: 'Bellota', sans-serif;
	font-size: 25px;
  }
  
  .dropdown .dropbtn {
   font-size: 25px; 
    border: none;
    outline: none;
    color:#59483C;
    padding: 34px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-left: 70px;
	transition: 0.3s;

  }
  .navbar a
{
   
    color:#59483C;
    margin-left: 60px;
    font-family: 'Bellota', sans-serif;
    font-size: 25px;
	margin-top: 34px;
	float: left;
	transition: 0.3s;
}

  
  .navbar a:hover, .dropdown:hover .dropbtn {

	transform: scale(1.2);
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 70px;
	
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-left: 0px;
	margin-top:15px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }






/*Footer*/



	
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #59483C;
    padding: 70px 0;
    margin-bottom: 0%;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    position: absolute;
	bottom: 0;
	width: 100%;
	
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    font-family: 'Berkshire Swash', serif;

}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    margin-left: 0px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}







